<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning_page</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/warn.css') }}">
</head>
<body>
    <section class="warning">
        <h1>Les fonctions prédéfinie:</h1>
        <center>
            <h4>fonction prédéfinie =</h4>
            <h4>'tan' : tan(x)
                <br>
                'sin' : sin(x),    
                'cos' : cos(x),
                'asin' : asin(x),
                'acos' : asin(x),
                'atan' : asin(x),
                'sinh' : sinh(x),
                'cosh' : sinh(x),
                'tanh' : sinh(x),
                'e' : exp(x),
                'ln' : log(x),
                'log' : log10(x),
                'logBase' : log(x,Base),
                'E' : floor(x),
                'factorial' : factorial(x)
                </h4>
        </center>

    </section>


</body>
</html>